body  {
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    font-family: 'Raleway', sans-serif;
  }

h1{
    display: none;  
}

a {
    color: black;
    text-decoration: none;
}

@media (max-width: 767px) {
*{
    box-sizing: border-box;
}

/************header logo ***********/

header img {
    display: flex;
    width: 15%;
    margin: auto; 
    margin-top: 5%;
}

/********** Menu navigation *********/

header nav {
    margin-top: 25px; 
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: solid; color: #d9d9d9;
    padding: 12px; 
    margin: 0 -16px;
}

header li {
    font-weight: 500;
}

header .border_accomodation {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 12px;
}

#layout {
    padding: 0 16px;
}

/************Recherche***********/

.search p {
    margin-bottom: 32px;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.recherchebar {
    border: solid 1px #d9d9d9 ;
    width: 100%;
   
}

input::placeholder {
    color: black;
    font-weight: bolder;
    font-size: large; 
    padding: 5%;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 20px 0 0 20px;
    font-size: large;
    width: 20%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: none;
    border-radius: 0 20px 20px 0 ; 
    height: 60px;
    width: 20%;
}

.loupe {
    width: 50px;
    color: #fff;
    font-size:large;
}

.recherche {
    display: none;
}

/*********Filtre**********/

.bordered {
    font-weight: bold;  
    border: #d9d9d9 solid 2px;
    border-radius: 50px;
    font-size: 14px
  }

.primary-icon {
    margin: 4%;
    color: #0065FC;
    margin-right: 5px;
}   

.w-100 {
    width: 49%;
}

.d-flex {
    display: flex;   
}

.justify-content {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.mb-1 {
    margin-bottom: 8px;
}

.casefiltre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title2 {
    font-size: 18px;
}
/*******info*******/

.bulleinfo {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 3%;
}

.bulleinfo .fa-info {
    color: #0065FC;
  }

.info {
    display: flex;
    align-items: baseline;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*****Populaire*****/

.grahp {
    color: #0065FC;
    font-size: 20px;
  }

.populartitle {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 3%;
    padding-top: 3%;
    margin: 0 16px;
  }

.popular {
    background-color: #F2F2F2;
    margin: 0 -16px;
    padding-bottom: 15%;
}

.casepopular {
    display: flex;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 16px;
    margin-bottom: 3%;
    height: 150px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.062);
    cursor: pointer;
  }

.imgpop {
    border-radius: 15px 0 0 15px;
    width: 130px;
    height: 140px;
    object-fit: cover;
  }

.apop {
    
    display: block;
    width: 140px;
    height: 140px;
}
.textepopular {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 14px;

}
.textephotopop {
    margin: 0;
   
}

.textephotopop1 {
    margin-top: 12px
}

.starpop {
    margin-top: auto;
    font-size: 12px;
}

/*****Color Star********/

.star {
    color: #0065FC;
    letter-spacing: -2px;
}

.stargrey {
    color: 	#DCDCDC;
}

/*********Hebergement*******/

.imgacco {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 130px;
}

.title4 {
    margin-top: 8%;
}

.caseaccomodationmarseille {
    border: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);  
    cursor: pointer;  
} 

.texteacco {
    margin-left: 2%;
    margin-top: -3%;
    line-height: 0.6;
}
.setplus {
    display: none;
}

.staracco {
    font-size: 12px;
    margin-bottom: 2px;
}

/******* Activity ********/

.caseactivity {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);
    cursor: pointer;
    
} 

.imgact {
    border-radius: 20px 20px 0 0 ;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.texteacti {
    margin-left: 2%
}

.title5 {
    white-space: pre-line;
}

/**** spacing ****** convention +8*n pixel **/

.mb-10 {
    margin-bottom: 80px;
}

/******* Footer *********/

.sectionfooter {
 display: flex;
 flex-direction: column;
 align-items: baseline;
 
}

.casefooter {
    background-color:#F2F2F2;
    overflow-x: visible;
    margin: 0 -16px;
    padding-top: 6%;
    padding-bottom: 5%;
}

.footertext {
    list-style-type: none;
    line-height: 2em;
    font-weight: 500;
}

.titlefooter {
    padding-left: 40px;
    line-height: 0em;
}
}

/******** affichage tablette ********/

@media (min-width: 768px) and (max-width: 991px) {
   
    #layout {
        padding: 0 70px;
    }


/******** header logo ********/

header img {
    width: 61px;
    height: 19px; 
    margin-top: 5%;
}

/******** navigation *******/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    list-style-type: none;
    margin-top: 32px;
}

header .border_accomodation {
    padding: 64px;
    font-weight: 500;
}

header .border_activity {
    font-weight: 500;
}

/************Recherche***********/

.search h1 {
    width: 70%;
    font-size: 18px
}

.search {
    margin-bottom: 32px;
}

.search p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

.searchbar {
    display:flex;
}

.recherchebar {
    border: solid 1px #d9d9d9 ;
    width: 30%
}

input::placeholder {
    color: black;
    font-weight: bolder;
    font-size: large; 
    padding: 8px;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 15px 0 0 15px;
    font-size: large;
    width: 6%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0 ; 
    height: 45px;
    width: 15%;   
}

.recherche {
    color: #fff;
    font-size: 15px;
    font-weight: 700;

}

.loupe {
    display: none;
}

/****** filtre ******/

.bordered {
    font-weight: bold;  
    border: #d9d9d9 solid 2px;
    border-radius: 50px;
    height: 45px;
    white-space: nowrap;
    padding-right: 12px;
    font-size: 14px;
  }

.primary-icon {
    margin: 12px;
    color: #0065FC;
}   

.d-flex {
    display: flex; 
}

.mb-1 {
    margin: 1%;
}

.align-item {
    align-items: center;
}

.filtered {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    
}
.casefiltre {
    display: flex;
    justify-content: space-between;

}

.title2 {
    font-size: 16px;
}

/******* info *******/

.bulleinfo {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
}

.bulleinfo .fa-info {
    color: #0065FC;
  }

.info {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px; 
}

.subtitle2 {
    font-size: 16px;
}

/*****Color Star********/  

.star {
    color: #0065FC;
    letter-spacing: -2px;
}

.stargrey {
    color: 	#DCDCDC;
}

/***** reverse pop acco ******/

.dirpopaco {
    display: flex;
    flex-direction: column-reverse;
}

/******* populaires *******/

.populartitle {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
}

.grahp {
    color: #0065FC;
    font-size: 20px;
  }

.popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 272px;
    margin-bottom: 64px;
    padding-top: 16px;
    }


.casepopular {
    display: flex;
    border: 5px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    height: 136px;
    width: 30%;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.062);
    font-size: 14px;
    cursor: pointer;
  }

.imgpop {
    border-radius: 15px 0 0 15px;
    width: 100px;
    height: 136px;
    object-fit: cover;
  }

.casepopulardir {
    display: flex;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
}

.textepopular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
    white-space: pre-line;
    font-size: 12px;
}

.textephotopop {
    margin-top: 2px;
    
}

.textephotopop1 {
    margin-top: 0;
    font-size: 12px;
    
}

.starpop {
    display: flex;  
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 2px;
}

/****** hebergement *****/ 

.accomodationMarseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 648px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.caseaccomodationmarseille {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);
    height: 200px;
    width: 28%;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

.title4 {
    padding-left: 32px;
    padding-top: 16px;
}

.setplus {
    padding-left: 32px;
    padding-top: 32px;
    font-weight: bold;
}

.texteacco {
   
    font-size: 14px;
    line-height: 0.4;
    margin-left: 8px;
    
}
.textephoto{
    font-size: 14px;
    
}
.imgacco {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.dir1 {
    display:flex;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}

.dir2 {
    display: flex;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
}

/****** activités *****/ 

.caseactivity {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 21%;
    margin-bottom: 64px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);
    height: 210px;
    cursor: pointer;
} 

.imgact {
    border-radius: 20px 20px 0 0 ;
    object-fit: cover;
    width: 100%;
    height: 160px;
}

.texteacti {
    margin-left: 8px;
    margin-top: 4px;
    font-size: 14px;

}

.title5 {
    margin-bottom: 32px;
}

.dir3 {
    display:flex;
    justify-content: space-between ;

}

/******* Footer *********/

.casefooter {
    padding: 32px 64px 64px 32px;
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-around;
}
.sectionfooter {
    justify-content: space-around;
}

.footertext {
    list-style-type: none;
    line-height: 2em;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
}
}

/******** desktop *******/

@media (min-width: 992px) {
    
    body  {
        max-width: 1400px;
      }
   
    
      #layout {
        padding: 0 70px;
        
    }

/******** header logo ********/

header img {
    width: 61px;
    height: 19px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    list-style-type: none;
}

header .border_accomodation {
    padding: 36px;
    font-weight: 500;
  }

header .border_accomodation:hover {
    border-top: solid 3px #0065fc;
    color: #0065FC;
   
}

header .border_activity:hover {
    border-top: solid 3px #0065fc;
    color: #0065FC;
}

header .border_activity {
    font-weight: 500;
    padding: 36px;
    
}

/************Recherche***********/

.search h1 {
    width: 50%;
    font-size: 18px
}

.search {
    margin-bottom: 32px;
}

.search p {
    margin-bottom: 24px;
    font-size: 16px;
}

.searchbar {
    display:flex;
}

.recherchebar {
    border: solid 1px #d9d9d9 ;
    width: 220px ;
}

input::placeholder {
    color: black;
    font-weight: bolder;
    font-size: large; 
    padding: 8px;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 15px 0 0 15px;
    font-size: large;
    width: 48px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0 ; 
    height: 45px;
    width: 140px;   
}

.recherche {
    color: #fff;
    font-weight:700;
    font-size: 18px;

}

.loupe {
    display: none;
}

/****** filtre ******/

.bordered {
    font-weight: bold;  
    border: #d9d9d9 solid 2px;
    border-radius: 50px;
    height: 50px;
    white-space: nowrap;
    padding-right: 16px;
  }

.bordered:hover {
background-color:#DEEBFF
}  

.primary-icon {
    margin: 16px;
    color: #0065FC;
}   

.d-flex {
    display: flex;  
}

.mb-1 {
    margin: 8px;
}

.align-item {
    align-items: center;
}

.filtered {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.casefiltre {
    display: flex; 
}

.title2 {
    font-size: 18px;
}

/******* info *******/

.bulleinfo {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
}

.bulleinfo .fa-info {
    color: #0065FC;
  }

.info {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px; 
}

.subtitle2 {
    font-size: 16px;
}

/*****Color Star********/  

.star {
    color: #0065FC;
    letter-spacing: -2px;
    font-size: 12px
}

.stargrey {
    color: 	#DCDCDC;
}

/***** reverse pop acco ******/

.dirpopaco {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/******* populaires *******/

.populartitle {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
}

.grahp {
    color: #0065FC;
    font-size: 20px;
  }

.popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 648px;
    width: 30%;
}


.casepopular {
    display: flex;
    border: 5px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    height: 136px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.062);
    font-size: 14px;
    margin-bottom: 32px;
    cursor: pointer;
  }


.imgpop {
    border-radius: 15px 0 0 15px;
    width: 120px;
    height: 136px;
    object-fit: cover;
}


.casepopulardir {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
}

.textepopular {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    white-space: pre-line;
    position: relative;
}

.textephotopop {
    margin-top: 8px;

}

.textephotopop1 {
    margin-top: -12px;
    font-size: 12px;
}

.starpop {
   display: flex;
   margin-bottom: 4px;
   margin-top: auto;
   font-size: 12px;
   position: absolute;
   top: 90%;
   
}

/****** hebergement *****/ 

.accomodationMarseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 655px;
    width: 65%;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.caseaccomodationmarseille {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);
    height: 190px;
    width: 28%;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

.title4 {
    padding-left: 32px;
    padding-top: 16px;
}

.setplus {
    padding-left: 32px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 16px;
}

.texteacco {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    font-size: 14px;
    position: relative;
    
}
.textephoto{
    margin: 0;
    
}
.textephoto1{
    margin: 0;
    font-size: 12px;
    
    
}
.staracco{
    font-size: 12px;
    position: absolute;
    top:120%

}

.imgacco {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.dir1 {
    display:flex;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}

.dir2 {
    display: flex;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
}

/****** activités *****/ 

.caseactivity {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 64px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.062);
    height: 440px;
    cursor: pointer;
} 

.imgact {
    border-radius: 20px 20px 0 0 ;
    object-fit: cover;
    width: 100%;
    height: 390px;
}

.texteacti {
    margin-left: 8px;
    margin-top: 4px;
    font-size: 16px;

}

.title5 {
    margin-bottom: 32px;
}

.dir3 {
    display:flex;
    justify-content: space-between ;

}

/******* Footer *********/

.casefooter {
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footertext {
    list-style-type: none;
    line-height: 2em;
    font-weight: 500;
    padding-left: 0;
}

}    