 body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0;
    
}
/************header***********/
header img{
    display: block;
    width: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}
header nav{
    margin-top: 35px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    
}
header ul li{
    margin-right: auto
}
header .border_accomodation{
    padding: auto;
    margin: auto;
    text-decoration:none;
    color: #0065fc
}
header .border_activity{
    padding: auto;
    text-decoration:none; 
    color: black;
    
}
header .border_accomodation{
    border-bottom: solid 3px #0065fc;
    padding: 12px;
}
/************filtres***********/

