@media (max-width: 748px) {
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
body  {
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    font-family: 'Raleway', sans-serif;
  }

/************header logo ***********/
header img{
    display: flex;
    width: 15%;
    margin: auto; 
    margin-top: 5%;
}

/********** Menu navigation *********/
header nav{
    margin-top: 25px; 
}
header ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;    
    list-style: none;
    border-bottom: solid; color: #d9d9d9;
    padding: 12px;  
}
header li{
    margin: auto;
    font-weight: 500;
}
header .border_accomodation{
    text-decoration: none;
    border-bottom: 3px solid #0065fc;
    padding: 12px;
}
header .border_activity{
    text-decoration: none;
    color:black;
}
   

/************Recherche***********/
.search h1{
    margin-top: 45px;
}

.search p{
    margin-top: 10px;
    margin-bottom: 30px;
}
.searchbar {
    display: flex;
    justify-content: center;
}
.recherchebar {
    border: solid 1px #d9d9d9 ;
    width: 100%;

}
input::placeholder{
    color: black;
    font-weight: bolder;
    font-size: large; 
    padding: 5%;
}
.localisation {
    display: flex;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 20px 0 0 20px;
    font-size: large;
    width: 20%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: none;
    border-radius: 0 20px 20px 0 ; 
    height: 60px;
    width: 20%;
}

.loupe {
    width: 50px;
    color: #fff;
    font-size:large;

}
/*********Filtre**********/
.bordered {
    font-weight: bold;
    display: flex;
    justify-content: baseline;
    border: #d9d9d9 solid 2px;
    border-radius: 50px;
    align-items: baseline;
    flex: 1;
    
  }

.dolar {
    margin: 4%;
    color: #0065FC;
    margin-right: 5px;
}   

.child {
    margin: 4%;
    color: #0065FC;
    margin-right: 5px;
}

.heart {
    margin: 4%;
    color: #0065FC;
    margin-right: 5px;
}

.dog {
    margin: 4%;
    color: #0065FC;
    margin-right: 5px;
}

.ecofam { 
    display: flex;
    align-items: center; 
    margin-bottom: 4%;
     
}
.eco {
    margin-right: 2%;
}
.romani {
    display: flex;
    align-items: center;    
}
.rom {
    margin-right: 2%;
}
/*******info*******/
.bulleinfo {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 3%;
}
.bulleinfo .fa-info {
    color: #0065FC;
  }
.info {
    display: flex;
    align-items: baseline;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*****Populaire*****/
.grahp {
    color: #0065FC;
    font-size: 20px;
  }
.populartitle {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 3%;
  }
.popular {
    background-color:#d9d9d9;
    display: flex;
    flex-flow: column;
    padding-top: 3%;
    padding-bottom: 5%;
}
.casepopular {
    border: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    background-color: #fff;
    margin: 2%;
    margin-left: 0;
    margin-right: 0;
  }
.imgpop {
    border-radius: 20px 0 0 20px;
    object-fit: contain;
    
  }
/*****Color Star********/  
.star {
    color: #0065FC;
    
}
.stargrey{
    color: 	#DCDCDC;
}
/*********Hebergement*******/
.imgacco{
    border-radius: 20px 20px 0 0;
    object-fit: contain;
   
}
.title4{
    margin-top: 5%;
}
.caseaccomodationmarseille{
    border: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
} 


/******* Activity ********/
.caseactivity{
    display: flex;
    flex-direction: column;
    border: 5px solid #fff;

}

/******* Footer *********/
.imgact{
    border-radius: 20px 20px 0 0 ;
    object-fit: contain;
}

.sectionfooter{
    margin-top: 10%;
}
.casefooter{
    background-color:#d9d9d9;
    border: 5px solid #fff;

}

}